body
{
    font-family: 'segoe ui light'
    
}
.img-caption
{
    background-color: #fff;
    bottom: 30px;
    left: 10%;
    width: 80%;
    padding: 10px;
}

.item
{
    margin-bottom: 30px;
    cursor: pointer;
}

#lightContaner
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
}
#lightItem
{
    background-size: 100% 100%;
    width: 50%;
    height: 500px;
    background-image: url(image/portfolio-1.jpg);
    
}

#close
{
    position: absolute;
    top: 20px;
    right: 20px;
}
#lightItem i
{
  font-size: 40px;
  cursor: pointer;
  margin: 10px;
}